name: Python Docker CI - Build & Push

on:
  push:
    branches: ["main"]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # -------------------------
      # Stage 1 — Docker info
      # -------------------------
      - name: Stage 1 - Docker info
        run: |
          echo "Docker version:"
          docker --version
          echo "Docker info:"
          docker info

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # -------------------------
      # Stage 2 — BUild with commit ID as TAG
      # -------------------------

      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/python-gha-lab:${{ env.IMAGE_TAG }} .
          docker images

      # -------------------------
      # Stage 3 — Push to Docker Hub
      # -------------------------
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Stage 3 - Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/python-gha-lab:${{ env.IMAGE_TAG }}