name: Python Docker CI - Build & Push

on:
  push:
    branches: ["main"]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # -------------------------
      # Stage 1 — Docker info
      # -------------------------
      - name: Stage 1 - Docker info
        run: |
          echo "Docker version:"
          docker --version
          echo "Docker info:"
          docker info

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # -------------------------
      # Stage 2 — Docker build
      # -------------------------
      - name: Stage 2 - Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/python-gha-lab:latest .
          docker images